[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/nanosvg"]
	path = vendor/nanosvg
	url = https://github.com/memononen/nanosvg.git
